.page {
    display: grid;
    grid-template-columns: 200px, 1fr, 220px;
    grid-template-rows: 80px 1fr;
    grid-template-areas: 
    "ribbon ribbon ribbon"
    "left main right";
    height: 100vh;
}

